.icons{
    display: flex;
    justify-content: flex-start;
}

.icons .fab{
    height: 38.07633590698242px;
    width: 38.07633590698242px;
    background-color: #4B4B4D;
    color: #FFF0ED ;
    border-radius: 50%;
    margin-right: 25px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.icons .fab:hover{
    color:#F16855;

}