button{
    background: rgba(241, 104, 85, 1);
    border: 1px solid rgba(241, 104, 85, 1);
     border-radius: 100px;
    color: rgba(255, 255, 255, 1);
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    outline: none;
}

button img{
    margin-right: 11px;
}
.chat-btn{
    height: 60px;
    width: 200px;
}


.hire-btn{
    height: 50px;
    width: 156px;
}