

.job-div{
    margin-top: -30px;
}

.job-div div{
    margin-bottom: px;
}

.hire-resume{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top:60px ;
}

.hire-resume p{
    margin-left: 40px;
    color: rgba(241, 104, 85, 1);
    font-weight: 400;

}