@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap');

.mynav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  background-color: rgba(255, 240, 237, 0.18);
  padding: 50px 80px;
}

.mynav a {
  text-decoration: none !important;
}
.nav-logo {
  font-family: 'Leckerli One', cursive;
  font-size: 20px;
  color: #f16855;
  font-weight: 700;
}

.resume-btn {
  background-color: #f16855;
  color: #fff !important;
  padding: 15px 35px;
  border-radius: 40px;
  letter-spacing: 2px;
  font-size: 0.9rem;
  font-weight: 300;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  text-decoration: none !important;
}

.resume-btn:hover {
  box-shadow: 0 4px 8px rgba(73, 73, 73, 0.2),
    0 8px 8px rgba(68, 67, 67, 0.2);
}

@media (max-width:1024px){
  .mynav{
    padding: 50px 60px;
  }
}

@media (max-width:768px){
  .mynav{
    padding: 50px 40px;
  }
}

@media (max-width:420px){
  .mynav{
    padding: 50px 10px;
  }
}
/* 
ul{
    display: flex;
    justify-content: center;
}

ul li{
    margin-left: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    transition: 0.3s;
}

ul li::after{
    content: '';
    display: block;
    position: absolute;
     background-color: rgba(255,240,237,0.26);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    bottom: -10px;
}

ul li:hover{
     color: rgba(241, 104, 85, 1);
}

ul li:hover::after{
     background: rgba(241, 104, 85, 1) !important;
} */

/* .iconbar {
    cursor: pointer;
    display: none;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background: #4B4B4D;

    margin: 6px 0;
    transition: 0.4s;
}

.bar2 {
    width: 30px;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

@media (max-width:768px) {
    .mynav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 10vh;
        background-color: rgba(255, 240, 237, 0.18);
        padding: 40px 40px 0 40px;
        max-width: 100%;
    }

    .nav-logo {
        font-size: 20px;
    }

    .iconbar {
        cursor: pointer;
        display: block;
    }

    ul {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 50%;
        background-color: #F16855;
        z-index: 1000;
        padding: 30px 0;
        transition: 0.3s;
        transform: translateX(-500%);
    }

    ul li {
        line-height: 100px;
        margin-left: 0;
        position: relative;
        display: flex;
        justify-content: center;
    }

    ul li::after {
        content: '';
        display: none;
    }

    ul li:hover {
        color: #fff;
    } */
