footer{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    padding: 40px 80px;
    
}

footer p{
    font-weight: 700;
}

@media (max-width:789px){
    footer{
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 50px 40px;
    }

    footer p{
        padding: 40px 0;
    }

}