footer{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    padding:50px 80px;
}

footer p{
    font-weight: 700;
}

@media (max-width:789px){
    footer{
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    footer p{
        padding: 40px 0;
    }

}

@media (max-width:1024px){
  footer{
    padding: 50px 60px;
  }
}

@media (max-width:768px){
  footer{
    padding: 50px 40px;
  }
}

@media (max-width:420px){
  footer{
    padding: 50px 10px;
  }
}