.wrapper{
  padding: 100px 80px;
  max-width: 100%;
}

.colored-bg{
  background-color: rgba(255,240,237,0.18);
}

.hover-text:hover{
  color: rgba(241, 104, 85, 1);
}

h3{
  font-weight: 900;
  font-size: 36px;
  margin-top: 40px;
  margin-bottom: 5px;
  color: #4B4B4D;

}

h5{
  font-weight: 500;
  font-size: 18px;
  color: rgba(241, 104, 85, 1);
  padding-bottom: 5px;
}

hr{
width: 50px;
border: 1px solid rgba(241, 104, 85, 1);
background: rgba(241, 104, 85, 1);
margin-bottom: 10px;
}

span{
  font-weight: 400;
  font-size: 24px;
  color: #727376;
}

p{
  font-weight: 400;
  font-size: 18px;
  color:#727376;
}

@media (max-width:1024px){
  .wrapper{
    padding: 80px 60px;
  }
}

@media (max-width:768px){
  .wrapper{
    padding: 80px 40px;
  }
}


@media (max-width:420px){
  .wrapper{
    padding: 50px 10px;
  }
}