.container{
  padding: 50px 80px;
}

.colored-bg{
  background-color: rgba(255,240,237,0.26);
}

h3{
  font-weight: 900;
  font-size: 36px;
  margin: 20px 0;
}

h5{
  font-weight: 500;
  font-size: 18px;
  color: rgba(241, 104, 85, 1);
  padding-bottom: 5px;
}

hr{
width: 50px;
border: 1px solid rgba(241, 104, 85, 1);
background: rgba(241, 104, 85, 1);
margin-bottom: 10px;
}

span{
  font-weight: 500;
  font-size: 24px;
}

p{
  font-weight: 500;
  font-size: 18px;
}