@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Red+Hat+Display:wght@400;500;700;900&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  color: #4B4B4D;
  max-width: 100%;
  overflow-x: hidden;
}


